# Virtual environment
venv/
.venv/

# Environment variables / API keys
.env
.env.*

# Secrets
cookies.txt

# Python cache
__pycache__/
*.py[cod]

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Generated media
downloads/

# Generated media files
*.mp3
*.wav
*.mp4
*.webm

# Local Vector Database
vector_db/